body {
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 49px 92px 51px;
}
.header__links-list {
  display: flex;
  justify-content: space-between;
  min-width: 388px;
  min-height: 23px;
}
.header__links-list-item {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  justify-content: center;
  padding-right: 150px;
}

.header__logo-image {
  max-width: 148px;
  max-height: 105px;
}
.header__contacts {
  min-width: 240px;
  min-height: 97px;
  margin-top: 5px;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}
.header__address {
  font-style: normal;
}
/* Overlay and Cover */

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url(/ono-tebe-nado/images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text {
  padding: 165px 0 0 50px;
  letter-spacing: 30px;
}

.aligned-text_center {
  padding: 20px 0;
  line-height: 100%;
  letter-spacing: 30px;
  text-align: center;
}

.aligned-text_right {
  padding-right: 20px;
  padding-bottom: 135px;
  line-height: 100%;
  letter-spacing: 30px;
  text-align: right;
}

.cover__description {
  z-index: 2;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 78px;
  padding: 0 50px 62px 0;
}
.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}
/* Lots */

.lots {
  display: flex;
  flex-direction: column;
  padding: 180px 50px 181px 50px;
}

.lots__heading {
  padding-bottom: 27px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: center;
  gap: 25px;
  max-height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lots__card-list-item {
  position: relative;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 430px;
  min-height: 450px;
  padding: 50px 40px;
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

.lots__look-more-link {
  padding-top: 30px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}
/* About */

.about {
  display: grid;
  grid-template-columns: 430px auto;
  grid-template-rows: 487px;
  justify-items: center;
  gap: 25px;
  padding: 0 50px 180px 50px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  max-height: 240px;
  border-radius: 200px 200px;
  background-color: black;
}

.about__logo-image {
  max-width: 148px;
  max-height: 114px;
}

.about__title {
  padding: 100px 0;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}
/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px 50px;
}

.footer__contacts {
  min-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}
.footer__menu {
  max-width: 240px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.footer__links-list-item {
  max-width: 149px;
  text-align: center;
  list-style: none;
}

.footer__social-list {
  float: left;
  height: 48px;
}

.footer__social-list-item {
  display: flex;
  justify-content: space-between;
  min-width: 240px;
}

.youtube,
.vk,
.pinterest {
  width: 100%;
  height: 100%;
}
